<li>
  <%= link_to url, class: "inline-flex items-center justify-center w-8 h-8 text-sm text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-50", remote: remote do %>
    &rsaquo;
  <% end %>
</li>
